* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  main {
    padding: 1rem;
  }
  
  h1 {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .title {
    color: rgb(241, 1, 81);
  }
  